@model CoreSimpam.ViewModel.RoleScreenViewModel
<div class="col-sm-12">
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">@ViewData["Title"]</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-sm" id="tbList" style="width:100%;">
                        <thead>
                            <tr>
                                <th scope="col" class="col-1">#</th>
                                <th scope="col" class="col-4">Screen Name</th>
                                <th scope="col" class="col-4">Description</th>
                                <th scope="col" class="col-1">Allow Read</th>
                                <th scope="col" class="col-1">Allow Write</th>
                                <th scope="col" class="col-1">Allow Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Screens.Count == 0)
                            {
                                <tr>
                                    <td colspan="6">No Data Screen Found</td>
                                </tr>
                            }
                            else
                            {
                                int i = 1;
                                foreach (var item in Model.Screens)
                                {
                                    <tr>
                                        <td>@i</td>
                                        <td>@item.ScreenName</td>
                                        <td>@item.ScreenID</td>
                                        <td>@item.ReadFlag</td>
                                        <td>@item.WriteFlag</td>
                                        <td>@item.DeleteFlag</td>
                                    </tr>
                                    i++;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>