@model CoreSimpam.ViewModel.RoleViewModel

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2">
    <h1 class="h2">@ViewData["Title"]</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <button class="btn btn-sm btn-primary" id="btnAdd">Add</button>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Roles)
            {
                <tr>
                    <th scope="row">@item.RoleID</th>
                    <td>@item.RoleName</td>
                    <td>@item.IsEnabled</td>
                    <td>@@mdo</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="modal fade" id="modal-input" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        $('#btnAdd').click(function () {
            $('#btnAdd').html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...');
            $('#btnAdd').attr('disabled', true);
            $.ajax({
                url: '@Url.Action("Add")',
                type: 'get',
                dataType: 'html',
                success: function (dd) {
                    $("#modal-input").find(".modal-dialog").addClass("modal-md");
                    $('#modal-input').find('.modal-content').html(dd);
                    $('#modal-input').modal('show');
                    $('#btnAdd').html('Add');
                    $('#btnAdd').attr('disabled', false);
                }
            });
        });

    </script>
}